body {
  margin: 1% 15%;
  background: #F5F5F5;
}


/* REGULAR BUTTON COLORS */
.btn-regular {
  background: #ab2418;
  color: #fff;
}

.btn-regular:hover {
  background-color: #090908
}

/* SOCIAL MEDIA BUTTON COLORS */
.btn-pink-moon {
    background: #ec008c;
    color: #fff;
}

.btn-pink-moon:hover {
  background-color: #090908
}

.btn-green-moon {
    background: #29BF7B;
    color: #fff;

}

.btn-green-moon:hover {
  background-color: #090908
}

.btn-dark-blue {
    background: #4268B2;
    color: #fff;
}

.btn-dark-blue:hover {
  background-color: #090908
}

/* DROPDOWN
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}
*/

/* CONTACT FORM */
.boxed {
  border: 2px #ab2418 ;
}
